services:
  plausible_db:
    image: postgres:18-alpine
    restart: always
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=postgres
    deploy:
      resources:
        limits:
          cpus: "${POSTGRES_CPU_LIMIT:-1.0}"
          memory: "${POSTGRES_MEMORY_LIMIT:-1G}"

  plausible_events_db:
    image: clickhouse/clickhouse-server:26.1-alpine
    environment:
      - CLICKHOUSE_SKIP_USER_SETUP=1
    restart: always
    volumes:
      - event-data:/var/lib/clickhouse
      - event-logs:/var/log/clickhouse-server
      - ./clickhouse/logs.xml:/etc/clickhouse-server/config.d/logs.xml:ro
      - ./clickhouse/ipv4-only.xml:/etc/clickhouse-server/config.d/ipv4-only.xml:ro
      - ./clickhouse/low-resources.xml:/etc/clickhouse-server/config.d/low-resources.xml:ro
      - ./clickhouse/backup.xml:/etc/clickhouse-server/config.d/backup.xml:ro
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    deploy:
      resources:
        limits:
          cpus: "${CLICKHOUSE_CPU_LIMIT:-2.0}"
          memory: "${CLICKHOUSE_MEMORY_LIMIT:-4G}"


  plausible:
    image: ghcr.io/plausible/community-edition:v3.1.0
    restart: always
    command: sh -c "sleep 10 && /entrypoint.sh db createdb && /entrypoint.sh db migrate && /entrypoint.sh run"
    depends_on:
      - plausible_db
      - plausible_events_db
    env_file:
      - .env
    ports:
      - 8000

volumes:
  db-data:
  event-data:
  event-logs:
